/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato' sans-serif;
    background-color:#befcff;
    color: black;
}

/* Header */
header {
    background-color: #f6f5f3;
    padding: 0 2rem; 
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #ede3e3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase; 
}

header a {
    text-decoration: none;
    color: inherit;
}

header i {
    color: darkslategray;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

/* Navbar toggle style with dropdown toggle */
nav {
    position: absolute;
    background-color: #f6f5f3;
    width: 100%;
    left: 0;
    padding: 0 1.2rem;
    box-shadow: 0 2.2px 2.2px #ede3e3;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;

}

/* Main content */ 
main {
    margin-top: 49px;
    border: 2px groove gray;
    flex-grow: 1;
}

/* Hero section */
#hero {
    height: 400px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(107, 241, 232, 0.4);
    font-size: 115%;
    font-style: italic;
    position: absolute;
    top: 5.0px;
    width: 50%;
    min-height: 120px;
    padding-top: 20px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
    font-style: italic;
}
/* Footer */
footer {
    background-color: #ede3e3;
    text-align: center;
    letter-spacing: 1px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: darkslategray;
}
